octo/install
__pycache__/
octo-upload.keystore
server/target/
mobile/android/zotik-456123-a116e792e9e6.json
target/
*.p8
deploy/update_container.sh
deploy/update_remote.sh
.env
down.sh
scripts/restart-all.sh
scripts/restart_lair.sh
.claude/
